.MenuContainer{  
    height: 60px;
    display: flex; 
    justify-content: center; 
    justify-content: space-around;  
    align-items: center; 
    background-color: #0B0F28;
}
.Navbar{  
    width: 70%; 
}  
.listStyle{  
    display: flex;  
    justify-content: center; 
    gap: 100px; 
} 
.Navbar ul li, .Navbar ul li a{ 
list-style: none; 
text-decoration: none;
color: #fff;
}  
.redes-container{ 
    width: 15%;    
    height: 60px;
    position: relative; 
    /* background-color: orange;  */
}
.nameStyle{ 
    width: 15%;  
    display: flex; 
    justify-content: center; 
    color: #fff; 
    font-size: 1.2rem;
}
.nameStyle span{ 
    color: #FF7F27;  
    font-weight: bold; 
}
