.MenuContainer{ 
    z-index: 100; 
    height: 60px;
    display: flex; 
    justify-content: center; 
    justify-content: space-around;  
    align-items: center; 
    background-color: var(--color-navBar);
    min-width: 270px;
}
.Navbar{  
    width: 70%; 
}  
.listStyle{  
    font-size: 1.3rem;
    display: flex;  
    justify-content: center; 
    gap: 100px; 
} 
.Navbar ul li, .Navbar ul li a{ 
list-style: none; 
text-decoration: none;
color: var(--color-white);
}  
.redes-container{ 
    width: 15%;    
    height: 60px;
    position: relative; 
    z-index: 99;
}
.nameStyle{ 
    width: 15%;  
    display: flex; 
    justify-content: center; 
    color: var(--color-white); 
    font-size: 1.2rem;
}
.nameStyle span{ 
    color: var(--color-secundario);  
    font-weight: bold;

}

.menuButton{ 
    display: none;
} 
.linkStyleNavbar{ 
    font-size: 1.2rem;
}
.linkStyleNavbar:hover{ 
    font-weight: bold; 
    color: var(--color-secundario);
}

.iconStyleHover{ 
    transform: scale(1);
    transition: transform 0.2s ease-in-out;
}
.iconStyleHover:hover{ 
    transform: scale(1.2);
}


@media screen and (max-width: 900px ) { 
    .nameStyle{ 
        width: auto; 
    }
    .redesMenu { 
        display: none !important;  
    }
    .Navbar{ 
        display: none; 
    }
    .MenuContainer{   
        position: fixed;  
        width: 100%;
        justify-content: space-between; 
        padding: 0 15px; 
    }
    .redes-container{ 
        display: flex; 
        justify-content: center; 
        align-items: center;
        width: 100px;
    }
    .menuButton{ 
        display: block; 
        width: 25px; 
        height: 25px; 
        background-color: var(--color-navBar); 
        color: var(--color-white);  
        border: solid 2px var(--color-secundario);
    }
    .menuButton:hover{ 
        cursor: pointer; 
        transform: scale(1.2);
    }
    

}
