.MenuContainer{  
    height: 60px;
    display: flex; 
    justify-content: center; 
    justify-content: space-around;  
    align-items: center; 
    background-color: var(--color-navBar);
}
.Navbar{  
    width: 70%; 
}  
.listStyle{  
    font-size: 1.3rem;
    display: flex;  
    justify-content: center; 
    gap: 100px; 
} 
.Navbar ul li, .Navbar ul li a{ 
list-style: none; 
text-decoration: none;
color: var(--color-white);
}  
.redes-container{ 
    width: 15%;    
    height: 60px;
    position: relative; 
}
.nameStyle{ 
    width: 15%;  
    display: flex; 
    justify-content: center; 
    color: var(--color-white); 
    font-size: 1.2rem;
}
.nameStyle span{ 
    color: var(--color-secundario);  
    font-weight: bold;

}
