.modalFormContainer{ 
    grid-column: 1/7; 
    background-color: rgba(0, 0, 0, 0.4); 
    height: 100vh;
    width: 100%;
    z-index: 100;
    position: fixed;
    transform: scale(0); 
    transition: transform ease-in-out 0.3s;  
    display: flex; 
    justify-content: center; 
    align-items: center;
} 

.modalFormActive{ 
    transform: scale(1); 
}

.ModalContentContainer{  
    width: 60%; 
    background-color: var(--color-redes); 
    box-sizing: border-box; 
    padding: 10px 10px 30px 10px;
    border-radius: 10px; 
    border: solid 2px var(--color-white); 
    min-width: 300px;
} 
.headerModal{ 
    /* background-color: blanchedalmond;   */
    margin-bottom: 20px;  
    display: flex; 
    flex-direction: column-reverse;
}
.stylesCloseButtom{ 
    width: 30px; 
    height: 30px;  
    background-color: var(--color-secundario); 
    font-size: 1.2rem; 
    border: none; 
}
.stylesCloseButtom:hover{ 
    cursor: pointer; 
    background-color: brown;
}
.titleModal{  
    /* background-color: blue;   */ 
    color: var(--color-white); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    text-align: center;    
} 
.containerButtonClose{ 
    display: flex; 
    justify-content: flex-end;
}
.formContainer{ 
    width: 70%;
    margin: 0 auto;
    background-color: var(--color-secundario);  
    box-sizing: border-box; 
    padding: 10px; 
    border-radius: 10px;
} 
.styleInputContainer{
    display: flex; 
    flex-direction: column;
    width: 100%;
} 
.styleLabel{ 
    margin-bottom: 5px; 
    font-size: 1.2rem;
}
.styleInput{ 
    height: 25px; 
    margin-bottom: 5px;
}
.stylesCloseButtomstylesCloseButtomInput{ 
    height: 25px;
    margin-bottom: 5px; 
    padding: 0 7px;
}

.styleTextArea{ 
    resize: none; 
    padding: 0 7px;
    margin-bottom: 10px;
}

/* _____________________________responsive modal__________________________ */

@media screen and (max-width: 640px) {  
    .ModalContentContainer{  
        width: 80%; 
    } 
    .formContainer{ 
        width: 80%; 
    }
} 

@media screen and (max-width: 460px) {  
    .ModalContentContainer{ 
        width: 90%; 
    }
    .formContainer{ 
        width: 95%;
    } 
}