.sectionContacto{ 
    background-color: var(--color-redes); 
    color: var(--color-white);

}
.backgroundContacto{ 
    background-color: var(--color-primario);
    padding: 30px 0 200px 0;
}
.containerContactFormulario{  
    border: solid 2px var(--color-secundario); 
    box-sizing: border-box; 
    border-radius: 20px;
    width: 90%;
    margin: 0 auto;
    display: flex;  
}
.containerContactFormulario form{ 
    width: 70%; 
    padding: 30px;
}
.titleContact{ 
    text-align: center; 
    margin: 20px;
  
}
.InputContainerMargin{ 
    margin-bottom: 15px; 
    width: 100%;
}
.redesMenuForm{ 
    background-color: var(--color-redes);
    width: 30%;
    border-radius: 0px 20px 20px 0;
    min-width: 270px; 
}

.inputContactStyle{ 
    height: 30px;
}
.containerInformation{ 
    display: flex; 
    flex-direction: column; 
    gap: 20px; 
    padding:20px 0 20px 20px;
}

.stylesItems { 
    margin-right: 10px;
}
.imageContacto{ 
    max-width: 90%; 
    height: auto; 
    margin-top: 30px;
}
.imageContainerContacto{ 
    display: flex; 
    justify-content: center; 
    align-items: center; 
} 
.titleInformation{ 
    text-align: center; 
    padding: 15px;
}

@media screen and (max-width: 900px) { 
    .backgroundContacto{ 
        padding: 30px 0 60px 0;
    }
    
}
@media screen and (max-width: 700px) {
    .redesMenuForm{ 
        display: none;
    } 
    .containerContactFormulario form{ 
        width: 100%; 
        padding: 15px;
    }
}