.proyectosSectionStyles{ 
    background-color: var(--color-primario);
    color: var(--color-white);
}
.titleProyectos{ 
   text-align: center; 
   margin: 20px;
}
.backgroundProyects{  
    background-color: var(--color-redes);  
    padding: 30px 0px 200px 0px;  
} 
.proyectosGrid{
    padding: 10px; 
    width: 90%; 
    margin: 0 auto; 
    border: 2px solid var(--color-secundario); 
    box-sizing: border-box;
    border-radius: 20px; 
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    grid-template-areas: 
    "proyecto1 proyecto1 proyecto2 proyecto2" 
    "proyecto3 proyecto3 proyecto4 proyecto4" 
    "proyecto5 proyecto5 proyecto5 proyecto5"; 
    
}

.proyecto{
    background: url("../../../assets/images/construyendo-web.webp") center no-repeat fixed; 
    background-size: 100% 100%; 
    border-radius: 10px; 
    height: 250px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    transition: background-size linear 0.3s;

}
.proyectoActive{ 
background-size: 120% 120%;
}
.proyecto1{  
    grid-area: proyecto1;  
} 
.proyecto2{ 
    grid-area: proyecto2; 
}
.proyecto3{ 
    grid-area: proyecto3;
}
.proyecto4{
    grid-area: proyecto4;
}
.proyecto5{ 
    grid-area: proyecto5;
}

.presentationProyect{ 
    background-color: rgba(0, 0, 0, 0.4); 
    width: 95%; 
    height: 210px;
    border-radius: 5px;
    transform: scale(0);
    transition: transform ease 0.2s;   
}

.presentationProyectActive { 
    transform: scale(1); 
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .proyectosGrid{  
        grid-template-areas: 
        "proyecto1 proyecto1 proyecto1 proyecto1"
        "proyecto2 proyecto2 proyecto2 proyecto2"
        "proyecto3 proyecto3 proyecto3 proyecto3"
        "proyecto4 proyecto4 proyecto4 proyecto4"
        "proyecto5 proyecto5 proyecto5 proyecto5"
        ;
    }
    .presentationProyect{ 
        transform: scale(1);
    } 
    .proyecto{ 
        height: 200px;
    }
    .proyectoActive{ 
        background-size: 100% 100%;
    }
    .presentationProyect{
        height: 170px;
    }
    .backgroundProyects{ 
        padding: 30px 0px 60px 0px;
    }
}

