@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* { 
  margin: 0;  
  padding: 0;    
  font-family: 'Roboto', sans-serif;
} 
body{ 
  display: flex;
  justify-content: center; 
  align-items: center;  
  font-size: 1.2rem; 
  
}

:root { 
  --color-primario: #0A081D;  
  --color-secundario: #FF7F27;
  --color-redes: #1D1A47; 
  --color-navBar: #0B0F28;
  --color-white: #fff; 
  --color-black: #000; 
}
.textStyle{ 
  line-height: 2rem;
  margin-bottom: 1rem;
}

.textStyleBold{ 
  font-weight: bold;
}

.textStyle1_3rem{ 
  font-size: 1.3rem;
}

.buttonGlobal{ 
  background-color: var(--color-secundario); 
  border: 2px solid var(--color-secundario); 
  color: var(--color-white); 
  border-radius: 5px; 
  padding: 10px;
  font-size: 0.9rem;
  transition: transform 0.2s linear, background-color 0.2s linear;
  flex-direction: column;
  margin-bottom: 10px;
}

.buttonGlobal:hover{ 
  background-color: rgb(10, 8, 29, 0);  
  cursor: pointer; 
  transform: scale(1.2);
} 

.disabledButton{ 
  opacity: 0.5;
}
.clipPath{ 
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
}

@media screen and (max-width: 900px) {
  .clipPath{ 
    clip-path: none;
  }
}
