* { 
  margin: 0; 
  padding: 0;  
} 
body{ 
  font-size: 1.2rem; 
  display: flex;
  justify-content: center; 
  align-items: center;
}

:root { 
  --color-primario: #0A081D;  
  --color-secundario: #FF7F27;
  --color-redes: #1D1A47; 
  --color-navBar: #0B0F28;
  --color-white: #fff; 
  --color-black: #000; 
}
.textStyle{ 
  line-height: 2rem;
  margin-bottom: 1rem;
}

.buttonGlobal{ 
  background-color:rgb(10, 8, 29, 0); 
  border: 2px solid var(--color-secundario); 
  color: var(--color-white); 
  border-radius: 5px; 
  padding: 10px;
  transition: transform 0.2s linear, background-color 0.2s linear;
  flex-direction: column;
}

.buttonGlobal:hover{ 
  background-color: var(--color-secundario);  
  cursor: pointer; 
  transform: scale(1.2);
} 
